include *.TXT
include *.py
include *.rst

exclude *.cfg
include buildout.cfg

exclude MANIFEST.in

include .gitignore
exclude .gitignore

recursive-include cache *.txt
recursive-include src *.pt
recursive-include src *.zcml
